# ant specific
dist/
build/
 
# netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# maven
.classpath
.project
.settings/
target/
 
# java specific
*.class
 
# general swap/backup/script files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.txt.*

# intellij idea
.idea/
*.iml

# sensitive data
sensitive/*

# modules configuration
exec/*
!exec/cluster
!exec/news
!exec/tweets
!exec/location
!exec/gencpath

BDELocationExtraction/res/*
|BDELocationExtraction/res/en-sent.bin
|BDELocationExtraction/res/ne-models/*

BDERSSCrawler/res/*
|BDERSSCrawler/res/db/*

BDEClustering/res/*
|BDEClustering/res/en-sent.bin
|BDEClustering/res/stopwords_en.txt
|BDEClustering/res/db/*

BDETwitterListener/res/*
|BDETwitterListener/res/db/*